temp-make-figs.R 
*bash
site/
/data/
!demo-analysis/data/
demo-analysis/output/
figures/
results/
.here
demo-analysis/scripts/02_differential_expression_analysis.html
rserver/
rstudio-rsession/
rstudio.sbatch
logs/*
demo-analysis/scripts/*html
