.md-header {
    background-color: #000000;
}

.md-tabs {
    background-color: #000000;
}

.command-title {
  font-family: var(--md-code-font);
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--md-code-bg-color);
  color: var(--md-typeset-a-color);
  padding: 0.2em 0.6em;
  border-radius: 4px;
  border-left: 4px solid var(--md-typeset-a-color);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  display: block;
}
